.bg-warning {
    --bs-bg-opacity: 1;
    background-color: rgb(19 152 196) !important;

}
.bg-secondary{

    background-color: rgb(229, 175, 38) !important;
}

.carousel-inner .carousel-item {
    transition: transform 1.5s ease-in-out;
  }

  

  