#root{
 display: flex;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

@media (min-width: 576px) {
  #notification-dropdown {
    right: -160px !important;
    width: 386px !important;
  }}
